<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7 no-js" lang="en-US" dir="ltr"><![endif]-->
<!--[if (lte IE 6)&(!IEMobile)]>
<html class="ie6 ie6-7 ie6-8 no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Thing" xmlns:og="http://ogp.me/ns#"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="ie7 ie6-7 ie6-8 no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Thing" xmlns:og="http://ogp.me/ns#"><![endif]-->
<!--[if (IE 8)&(!IEMobile)]>
<html class="ie8 ie6-8 no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Thing" xmlns:og="http://ogp.me/ns#"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en-US" dir="ltr" itemscope itemtype="http://schema.org/Thing" xmlns:og="http://ogp.me/ns#">
	<!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=5, IE=8, IE=9, IE=10" />

		<%= partial "partials/html-header__social" %>

		<title><%= data.page.title || "Weiss - blank canvas framework" %></title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<%= stylesheet_inline "core-style" %>
		<%= javascript_include_tag "jquery.min" %>

		<!--[if lt IE 9]>
			<%= javascript_include_tag "html5shiv" %>
		<![endif]-->
	</head>
	<body>
		<div class="l-main-aux">
			<!-- .region-header -->
			<%= partial "partials/region__header" %>
			<!-- /.region-header -->

			<div class="l-main-aux__inner i-clfx">
				<!-- /region-main-->
				<div class="region-main i-clfx">
					<main role="main">
						<%= partial "partials/block__breadcrumbs" %>

						<!-- /region-main__content -->
						<div class="region-main__content">
							<%= yield %>
						</div>
						<!-- /.region-main__content -->
					</main>
				</div>
				<!-- /.region-main-->

				<!-- .region-aside_first -->
				<div class="region-aside region-aside_first i-clfx">
					<aside role="complementary">
						<p>
							SidebarFirst Block
						</p>
						<% current_page.data.asideBlocks.each do |b| %>
							<%= partial "" + b  %>
						<% end %>
					</aside>
				</div>
				<!-- /.region-aside_first -->

				<!-- .region-aside_second -->
				<div class="region-aside region-aside_second i-clfx">
					<aside role="complementary">
						<p>
							SidebarSecond Block
						</p>
					</aside>
				</div>
				<!-- /.region-aside_second -->

				<%= partial "partials/region__undercontent" %>

			</div>
			<!-- /.l-main-aux__inner -->
		</div>
		<!-- /.l-main-aux -->

		<!-- .region-footer -->
		<%= partial "partials/region__footer" %>
		<!-- /.region-footer -->

		<!--[if lt IE 7]>
			<div class="general-msg general-msg_warning js-warning">
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="general-msg__inner">
					This site does not fully support your browser!<br/>
					You are using an outdated browser. For a faster, safer browsing experience,upgrade for free today.
				</a>
			</div>
		<![endif]-->

		<%= stylesheet_link_tag "style" %>

		<%= javascript_include_tag "jquery.jstyling.pack" %>
		<%= javascript_include_tag "jquery.placeholder.min" %>
		<%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
		<%= javascript_include_tag "main" %>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('.g-nav__ln').on('click', function(e) {
					e.preventDefault();

					$('.g-nav__item').removeClass('g-nav__item_active');
					$(this).parent('.g-nav__item').addClass('g-nav__item_active');
				});

				var main = $('.region-main'),
					aside1 = $('.region-aside_first'),
					aside2 = $('.region-aside_second');
				// 2 columns sidebar second
				$('#twocolumn-s').on('click', function() {
					main.removeClass().addClass('region-main l-sidebar-second_main i-clfx');
					aside1.removeClass().addClass('region-aside region-aside_first l-sidebar-second_aside i-clfx');
					aside2.removeClass().addClass('region-aside region-aside_second l-sidebar-second_aside i-clfx');
				});
				// 2 columns sidebar first
				$('#twocolumn-f').on('click', function() {
					main.removeClass().addClass('region-main l-sidebar-first_main i-clfx');
					aside1.removeClass().addClass('region-aside region-aside_first l-sidebar-first_aside i-clfx');
					aside2.removeClass().addClass('region-aside region-aside_second l-sidebar-first_aside i-clfx');
				});
				// 3 columns
				$('#threecolumn').on('click', function() {
					main.removeClass().addClass('region-main l-2sidebars_main i-clfx');
					aside1.removeClass().addClass('region-aside region-aside_first l-2sidebars_sidebar-first i-clfx');
					aside2.removeClass().addClass('region-aside region-aside_second l-2sidebars_sidebar-second i-clfx');
				});
				// no columns
				$('#nocolumn').on('click', function() {
					main.removeClass().addClass('region-main i-clfx');
					aside1.removeClass().addClass('region-aside region-aside_first i-clfx');
					aside2.removeClass().addClass('region-aside region-aside_second i-clfx');
				});
			});
		</script>
	</body>
</html>
